# Dependencies
node_modules/
*/node_modules/

# Environment
.env
.env.local
*.env
.env.*

# IDE
.vscode/
.idea/

# Docker
**/data/
**/logs/

# OS
.DS_Store
Thumbs.db

# Next.js
.next/
**/.next/

# TypeScript
*.tsbuildinfo
